/* 
*
* Estilos para plataforma CTS Online
* Autores: Sergio Majluf - Jose Fonseca
*
*
*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:400,700);
h1, h2, h3 {
	font-family: 'Droid Sans', 'Terminal Dosis', sans-serif;
	font-weight: bold;
}
.destacados h3 a {
	text-decoration: none;
	color: #021e65;
}

/* @group Home-Login */

#container.login{	
		width:600px;
		}
		
form.login 	input[type="text"], input[type="password"], textarea, .field, .area, select {
	width: 200px;
}

#container div.content div.main form.login fieldset.cols div.submit {
padding: 20px 0;	
}

#container div.content div.main form.login {
	background-color: #e7e7e7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius:5px;
	border-radius: 5px;
}

#container div.content div.main form.login fieldset.cols legend {
	display: none;
}

/* @end */

/* @group NavAuxiliar */

ul.navAux{
		margin:0;
		padding:0;
		position:absolute;
		top:2em;
		right:2em;
		}	
	ul.navAux li{
		margin:0;
		padding:0 .5em;
		line-height:1em;
		float:left;
		list-style:none;
		border-left:1px solid #555;
		}
	ul.navAux li.first{
		padding-left:0;
		border-left:none;
		}
	ul.navAux li a{float:left;}

/* @end */

/* @group header */

#header {
	background: #e7e7e7 url(../images/gradient-bg.jpg) repeat-x;
	padding-top: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#header h1 {
	background: url(../images/logo-cts.png) no-repeat 0 0;
	text-indent: -9999px;
}
#header ul#nav {
	width: 740px;
	height: 32px;
	margin: 0;
	padding-left: 180px;
}
#header ul#nav li {
		text-align: center;
		-webkit-transition: background-color .25s linear;
	transition: background-color .25s linear;
}
#header ul#nav li a{
text-transform: uppercase;
font-family: 'Terminal Dosis', sans-serif;

	-webkit-transition: color .25s linear;
	transition: color .25s linear;
	
}
#header ul#nav li.activo a{
	color: #fff;
}
#header #nav li.activo {
	background-color: #021e65;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	

}

#header #nav li.over {
	background-color: #63708a;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	

}
#header #nav li.activo.over  {
	background-color: #021e65;

}
#header #nav li.over a{
color: #fff;
	-webkit-transition: color .25s linear;
	transition: color .25s linear;
}
li.destacado a {
	background: url(../images/li-icon-.png) no-repeat left top;
	padding-left: 25px;
}

li.crea a {
	background: url(../images/li-icon-.png) no-repeat left top;
	padding-left: 25px;
}

li.servicios a {
	background: url(../images/li-icon-.png) no-repeat left top;
	padding-left: 25px;
}
#header #nav li {
	width: 170px;
}
#header ol#destacados {
	background: #000 url(../images/destacados-bg.png) no-repeat;
	width: 730px;
	height: 45px;
	margin: 0 0 0 -5px;
	padding: 8px 0 0 200px;
	text-align: left;
}

#header ol#pasos {
	background: #000 url(../images/pasos-bg.png) no-repeat;
	width: 730px;
	height: 45px;
	margin: 0 0 0 -5px;
	padding: 8px 0 0 200px;
	text-align: left;
}
#header ol#pasos li {
	display: inline-block;
	float: left;
	text-align: center;
	width: 100px;
	margin:0;padding:0;
	list-style: none;

}
#header ol#pasos li a {
	display: block;
	font-style: italic;
	text-transform: lowercase;
	font-family: 'Terminal Dosis', sans-serif;
	padding: 3px 0;
}

/* @end */
#pasos li.activo {
	
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	background-color: #02033d;
	border: thin inset rgba(95,106,178,0.78);
}

/* @group Footer */

#footer {
	height: 100px;
		background-color: #e7e7e7;

	
}

#footer ul#nav {
	margin-left: -7px;
	padding: 0.5em 1em;
	background: url(../images/footer-bg.png) no-repeat;
	height: 51px;
}
#footer ul#nav li a{
		font-family: 'Terminal Dosis', sans-serif;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
	text-decoration: none;
}

.powered {
	background: url(../images/logo-distantis.png) no-repeat 0 20px;
	text-align: center;
	height: 100px;
	width: 120px;
	padding: 0.5em 0 0 0;
	margin: 0;
	font-size: 9px;
	font-style: italic;
}

col.powered {
	width: 200px;
}

/* @end */
