/* 
*
* Easy front-end framework
*
* Copyright (c) 2011 Alen Grakalic
* http://easyframework.com/license.php
*
* supported by Templatica (http://templatica.com)
* and Css Globe (http://cssglobe.com)
*
*/

/*

for more info about the strucure of this file 
please read http://easyframework.com/documentation.php

*/

/* HTML elements  */		

	html, body{margin:0;padding:0;}
	h1, h2, h3, h4, h5, h6{
		font-weight:normal;
		margin:0;
		line-height:1em;
		}	
	h1{font-size:2em;margin-bottom:.5em;}	
	h2{font-size:1.75em;margin-bottom:.5142em;padding-top:.2em;}	
	h3{font-size:1.5em;margin-bottom:.7em;padding-top:.3em;}
	h4{font-size:1.25em;margin-bottom:.6em;}
	h5,h6{font-size:1em;margin-bottom:.5em;font-weight:bold;}
	
	p, blockquote, ul, ol, dl, form, table, pre{display:block;line-height:inherit;margin:0 0 1.5em 0;}
	article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{display:block;}
	ul, ol, dl{padding:0;}
	ul ul, ul ol, ol ol, ol ul, dd{margin:0;}
	li{margin:0 0 0 2em;padding:0;display:list-item;list-style-position:outside;}	
	blockquote, dd{padding:0 0 0 2em;}
	pre, code, samp, kbd, var{font:100% mono-space,monospace;}
	pre{overflow:auto;}
	abbr, acronym{
		text-transform:uppercase;
		border-bottom:1px dotted #000;
		letter-spacing:1px;
		}
	abbr[title], acronym[title]{cursor:help;}
	small{font-size:.9em;}
	sup, sub{font-size:.8em;}
	em, cite, q{font-style:italic;}
	img{border:none;}			
	hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:0 0 1.5em 0;padding:0;}	
	table{width:100%;border-collapse:collapse;}
	th,caption{text-align:left;}	
	label{display:block;}
	fieldset{margin:0;padding:0;border:none;}
	legend{font-weight:bold;}
	input, select{vertical-align:middle;}
	input[type="radio"],input[type="checkbox"], .radio, .checkbox{margin:0 .25em 0 0;}

/* //  HTML elements */	

/* common */		
	
	.left{float:left;margin-right:1em;}
	.right{float:right;margin-left:1em;}
	.center{text-align:center;}
	
	.clear{clear:both;}
	.block{display:block;clear:both;}
	.first{margin-left:0 !important;}
	.last{margin-right:0 !important;}
	.top{margin-top:0 !important;}
	.bottom{margin-bottom:0 !important;}	
	.hidden, .print{display:none;}
	.graphic{
		margin:0;
		padding:0;
		display:block;
		overflow:hidden;
		text-indent:-8000px;
		}

/* // common */			

/* base */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);	
	body, table, input, textarea, select, li, button{
		font:1em 'Droid Sans', Arial, Sans-Serif;
		line-height:1.5em;
		color:#333;
		}		
	body{
		font-size:13px;
		background:#fff;
		text-align:center;
		}	
	a, a:visited{
		text-decoration:none;
		color:#06C;
		}
	a:hover{color:#999;}
	ins{text-decoration:none;color:#900;font-style:italic;}
	code{color:#555;}
	pre{
		margin-left:2em;
		padding-left:2em;
		border-left:1px solid #ccc;
		}
	blockquote{
		margin-left:2em;
		border-left:1px solid #ccc;
		font-style:italic;
		}	
	dt{font-weight:bold;}
	th, td{padding:.5em 1em;line-height:1.5em;}		
	th{background:#eee;}
	td{border-bottom:1px solid #eee;}
	caption{font-style:italic;color:#777;margin:.5em 0;}	
	fieldset{
		border:1px solid #ccc;
		padding:1em 2em;
		margin:0 0 1.5em 0;
		}
	legend{padding:2px 5px;}	
	form div{margin:.5em 0;clear:both;overflow:hidden;}
	form div.col{clear:none;}form div.first{clear:both;}
	
	input[type="text"], input[type="password"], textarea, .field, .area, select{
		border:1px solid #aaa;
		padding:5px;
		background:#fff;
		width:100px;
		line-height:1em;
		margin:0;
		}
	select{width:312px;}
	textarea, .area{overflow:auto; height:150px; width:400px;}
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus, .focus{background:#f5f5f5;outline:none;}
	.submit{}
	button{
		border:none;
		background:#555;
		color:#fff;
		padding:0 2.5em;
		height:2em;
		line-height:2em;
		cursor:pointer;
		}
		
	.note, .success, .error{display:block;}
	.error{color:#900;}
	.success{color:#060;}
	.note{font-weight:bold;}
	.notvalid{border:1px solid #900 !important;}

/* base */

/* layout */

	#container, .inner{	
		margin:0 auto;
		width:920px;
		text-align:left;
		position:relative;
		}
	#header{
		position:relative;
		}	
	#footer{
		position:relative;
		clear:both;
		}	
	
	.content{
		clear:both;
		padding:1em 0;
		}
	.main, .secondary, .tertiary, .quaternary{
		float:left;
		display:inline;
		}
	.main{width:600px;}
	.secondary{width:280px;margin-left:40px;}
	.tertiary{}
	.quaternary{}
	
	/* percentage based grid */
		
		/* 
			class name .cols used for column containers
			class name .col used for individual columns
		*/
		
		.cols{margin-bottom:1.5em;overflow:hidden;} /* main column container class */
		.col, .col2, .col3, .col4, .col5{
			float:left;
			display:inline;	
			margin-left:2%;
			}		
		.col{width:49%;} /* 2 equal width columns - default */
		.cols3 .col{width:31%;} /* 3 equal width columns */
		.cols4 .col{width:23.5%;} /* 4 equal width columns */
		.cols5 .col{width:18.4%;} /* 5 equal width columns */
		.cols6 .col{width:15%;} /* 6 equal width columns */
		
		/* double width columns */
		.cols3 .col2{width:66%;} 
		.cols4 .col2{width:49%;} 
		.cols5 .col2{width:38.8%;} 
		.cols6 .col2{width:32%;} 
		
		/* triple width columns */
		.cols4 .col3{width:74.5%;} 
		.cols5 .col3{width:59.2%;} 
		.cols6 .col3{width:49%;} 
		
		/* quadruple width columns */
		.cols5 .col4{width:79.6%;} 
		.cols6 .col4{width:66%;} 
		
		/* quintuple width columns */
		.cols6 .col5{width:83%;} 	
		
	/* percentage based grid */

/* // layout */

/* navigation */
	
		#nav, #nav ul, #nav li{margin:0;}
		#nav ul{}
		#nav li{
			float:left;
			display:inline;
			position:relative;
			line-height:32px;
			height:32px;
			margin-right:2em;
			list-style:none;
			}	
		#nav a{}
		
		/* second level */
		#nav ul{
			position:absolute;
			left:0;
			top:32px;
			padding:5px 10px;
			width:200px;	
			background:#fff;
			display:none;
			z-index:1000;
			}
		#nav ul li{
			float:none;
			display:block;
			}
				
/* //navigation */

/* header */

	#header h1{
		line-height:3em;
		height:3em;
		margin:0;
		}
	#header h1 a{		
		}		

/* // header */
	
/* content */

	.content a, .content a:visited{
		text-decoration:underline;
		}
	
/* // content */

/* footer */
	
	#footer a, #footer a:visited{
		text-decoration:underline;
		}
	
/* // footer */

/* clearfix (use class name "block") */

	.inner:after, .content:after, .cols:after, .block:after{
		content:"."; 
		display:block; 
		height:0; 
		clear:both; 
		visibility:hidden;
		}
	.inner, .content, .cols, .block{display:block;min-height:1%;}
	* html .inner, * html .content, * html .cols, * html .block{height:1%;}

/* // clearfix */

/* easy elements */

	#easy_tooltip{
		border:1px solid #e1e1e1;
		padding:2px 10px;
		background:#f5f5f5;
		}
	#easy_tooltip span{} /* extra element */
	
	#easy_popup{ /* popup overlay */
		background:#000;
		}
	#easy_popup_preloader{ /* popup preloader */
		padding:10px;
		background:#fff;
		color:#333;
		}
	#easy_popup_content{ /* popup window */
		padding:10px;
		background:#fff;
		color:#333;
		}
	#easy_popup_content .caption{padding-top:10px;}	
	#easy_popup_close{ /* popup close button */
		position:absolute;
		float:left;
		left:0;
		top:-24px;
		color:#fff;
		cursor:pointer;
		}	
	#easy_popup_gallery{ /* popup gallery navigation */
		position:absolute;
		float:left;
		left:0;
		bottom:-24px;
		color:#fff;
		cursor:pointer;
		}	
	#easy_popup_prev{margin-right:5px;}
	#easy_popup_next{}
	#easy_popup_counter{ /* popup gallery counter */
		position:absolute;
		float:left;
		right:0;
		bottom:-24px;
		color:#fff;
		cursor:pointer;
		}
	.h_rpt{ font-size:9px; }
/* // easy elements */