body {
	font-family : arial;
	margin-left : 4px;
	background-color:#ECECFF;
}
.textmnt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
}
th{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#0000A4;
	background-color:#D5D5FF;
	background-image:url(images/th.jpg);
}
.titulos{
	font-size:14px;	
}
td{
	font-size:11px;
}
.tdbusca{
	font-size:14px;
	text-align:center;
}
.titulo{
	font-size:16px;
	font-weight:bold;
}
a:hover{
	font-weight:bold;
}
a{
	color:0000A4;
}
input{
	border:#06F solid 1px;
}
.tdedita{
	font-size:14px;
}
.tddetalle{
	font-size:14px;
	font-weight:bold;
}
.tdmuestra{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}
.bienvenido{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
}
.nombreusuario{
	font-size:16px;
	font-weight:bold;
}
.input_sin{
	border:none;
}
.input_sin{
	border:none;
}
.informacion{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
}
.cerrado{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#F00;
	font-weight:bold
}
.info{
	font-family:Verdana, Geneva, sans-serif;
	font-size:8px;
	color: #000;
}
.dvpdf{
	font-size:14px;
}