/* @override 
	http://dev.ctsturismo/css/screen-sm.css
	http://190.196.162.58/distantis/css/screen-sm.css
*/

/* 
*
* Estilos para plataforma CTS Online
* Autores: Sergio Majluf - Jose Fonseca
*
*
*/

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:400,700);

h1, h2, h3 {
	font-family: 'Droid Sans', 'Terminal Dosis', sans-serif;
	font-weight: bold;
}

.destacados h3 a {
	text-decoration: none;
	color: #021e65;
	display: block;
	min-height: 40px;
}
.destacados h3 a:hover {
	color: #f38800;
}
a {
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	transition: color .15s linear;
}


#container.inner div.cols.lessMargin {
	border-bottom: 1px solid #dedede;
	margin-bottom: 0;
}

#container.inner div.cols.topMargin div.col {
	padding-top: 0.9em;
}
#container.inner div.col {
	border-left: 1px solid #dedede;
	padding-left: 10px;
}
#container.inner div.col.first {
	border-left: none;
	padding-left: inherit;
}
/* @group Home-Login */

#container.login {
	width: 600px;
}

form.login 	input[type="text"], input[type="password"], textarea, .field, .area, select {
	width: 190px;
}

#container div.content div.main form.login fieldset.cols div.submit {
	padding: 20px 0;
}

#container div.content div.main form.login {
	background-color: #e7e7e7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

#container div.content div.main form.login fieldset.cols legend {
	display: none;
}

/* @end */

/* @group NavAuxiliar */

ul.navAux {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2em;
	right: 2em;
}

ul.navAux li {
	margin: 0;
	padding: 0 .5em;
	line-height: 1em;
	float: left;
	list-style: none;
	text-align: right;
}

ul.navAux li.first {
	padding-left: 0;
	border-left: none;
}

ul.navAux li a {
	float: left;
}

ul.navAux li.miCliente {
	clear: both;
	display: inline-block;
	padding-right: 79px;
}
ul.navAux li.salir {
	clear: both;
	display: inline-block;
	float: right;
	padding-right: 80px;
	padding-left: 10px;
}
ul.navAux li.miPerfil {
	display: inline-block;
	float: right;
	padding-right: 10px;
	border-right: 1px solid #333;
	border-left: none;
}
ul.navAux li.logoCliente {
	position: absolute;
	top: 0;
	right:0;
}

/* @end */

/* @group header */

#header {
	background: #e7e7e7 url(../images/gradient-bg.jpg) repeat-x;
	padding-top: 5px;
	margin-top: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#header h1 {
	background: url(../images/logo-cts.png) no-repeat 0 0;
	text-indent: -9999px;
}

#header ul#nav {
	width: 740px;
	height: 32px;
	margin: 0;
	padding-left: 180px;
}

#header ul#nav li {
	text-align: center;
	-webkit-transition: background-color .25s linear;
	-moz-transition: background-color .25s linear;
	transition: background-color .25s linear;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#header ul#nav li a {
	text-transform: uppercase;
	font-family: 'Terminal Dosis', 'Arial Narrow', sans-serif;
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	transition: color .25s linear;
	

/*text-shadow: #6d6a6d 1pt 1px 0.5px;*/
	font-weight: normal;
	font-style: normal;
}

#header ul#nav li.activo a {
	color: #fff;
}

#header #nav li.activo {
	background-color: #03246c;
}

#header #nav li.over {
	background-color: rgba(32,56,125,0.74);
}

#header #nav li.activo.over {
	background-color: #021e65;
}

#header #nav li.over a {
	color: #fff;
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	transition: color .25s linear;
}

li.destacado a {
	background: url(../images/li-icon-destacados.png) no-repeat left -20px;
	padding-left: 25px;
}

li.destacado:hover a {
	background: url(../images/li-icon-destacados.png) no-repeat left top;
}

li.destacado.activo a {
	background: url(../images/li-icon-destacados.png) no-repeat left top;
}

li.crea a {
	background: url(../images/li-icon-crea.png) no-repeat left -20px;
	padding-left: 25px;
}

li.crea:hover a,
li.crea.activo a {
	background: url(../images/li-icon-crea.png) no-repeat left top;
}

li.servicios a {
	background: url(../images/li-icon-servicios.png) no-repeat left -20px;
	padding-left: 25px;
}

li.servicios:hover a,
li.servicios.activo a {
	background: url(../images/li-icon-servicios.png) no-repeat left top;
}

#header #nav li {
	width: 170px;
}

#header ol#destacados {
	background: #000 url(../images/destacados-bg.png) no-repeat;
	width: 730px;
	height: 45px;
	margin: 0 0 0 -5px;
	padding: 8px 0 0 200px;
	text-align: left;
}

#pasos {
	/*background: #000 url(../images/pasos-bg-general.png) no-repeat;*/
	background: #000 url(../images/destacados-bg.png) no-repeat;
	width: 745px;
	height: 45px;
	margin: 0 0 0 -5px;
	padding: 8px 0 0 185px;
	text-align: left;
}

#pasos li {
	display: inline-block;
	float: left;
	text-align: center;
	width: 100px;
	margin: 0 20px 0 0;
	padding: 0;
	list-style: none;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border: thin inset rgba(95,106,178,0.3);
	background-color: #132f76;

	-webkit-transition: background .25s linear;
	-moz-transition: background .25s linear;
	transition: background .25s linear;
}

#pasos li a {
	display: block;
	font-family: 'Terminal Dosis', sans-serif;
	padding: 3px 0;
	font-weight: normal;
	font-style: normal;
	font-size: 11px;
	text-transform: uppercase;
	color: #a1acd2;
}
#pasos li a:hover {
	color: #fff;
}
#pasos li.activo a{
color: #ffffff;
	text-transform: uppercase;
}

#pasos li:hover {
	background-color: #0f3a83;
	border: thin inset rgba(95,106,178,0.78);
}

#pasos li.activo {
	background-color: rgba(243,136,0,0.68);
	border: thin inset #8d4e00;
}
ol#pasos li.pasoBuscar {
	background: none;
	border: none;
}

/* @end */

/* @group Footer */

#footer {
	height: 100px;
	background-color: #e7e7e7;
}

#footer ul#nav {
	margin-left: -7px;
	padding: 0.5em 1.8em;
	background: url(../images/footer-bg.png) no-repeat;
	height: 51px;
}

#footer ul#nav li a {
	font-family: 'Terminal Dosis', sans-serif;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
	text-decoration: none;
}

#footer p.clear {
	margin-left: 15px;
	font: italic 11px Georgia, "Times New Roman", Times, serif;
}

.powered {
	background: url(../images/logo-distantis.png) no-repeat right 10px;
	text-align: center;
	height: 100px;
	width: 120px;
	padding: 0;
	margin: 0;
	font-size: 9px;
	font-style: italic;
}
div.col2 .powered {
	margin: 0;
	padding: 0;
}
col.powered {
	width: 200px;
}

#footer div.cols6 div.col{
border-left: none;	
margin: 0;
padding: 0;
}

/* @end */

#easy_tooltip {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	padding: 10px 15px;
	background: #f5f5f5;
	font: 11.5px Georgia, "Times New Roman", Times, serif;
	color: #01185d;
	}

#footer div.cols6 div.col3.first.extra {
width: 440px;	
}
/* @group Destacados Home */

dl.detallesPack {
	font-size: 88%;
	border-top: 4px solid #fcd8a8;
	border-bottom: 1px dotted #dedede;
	padding: 10px 0 5px;
}
dt {
	padding: 0;
	width: 40%;
	display: inline-block;
	vertical-align: text-top;
	line-height:1.1em;

}
dd {
	margin: 0 0 0 5px;
	padding: 0;
	width: 57%;
	display: inline-block;
	vertical-align: text-top;
	line-height:1.1em;

}

p.precioDesde {
	display: inline-table;
	vertical-align: bottom;
	color: #043cb5;
	margin-left: 10px;
	margin-bottom: 0.6em;
	  font: bold 14px/1 'Terminal Dosis', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	text-transform: uppercase;
}
p.precioDesde span.nota {
	text-transform: none;
	font: 11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	clear: both;
	color: #626262;
}

.destacados p img {
	border: 3px solid #fcd8a8;
	-webkit-transition: border-color .25s linear;
	-moz-transition: border-color .25s linear;
	transition: border-color .15s linear;
	margin-bottom: 0.8em;
}
.destacados p img:hover {
	border-color: #fc9001;
}
.destacados p strong {
	color: #cc7f1d;
}

/* @end */

/* @group Forms */ 
	

a.reservar {
	display: inline-block;
	margin-bottom: 10px;
	text-decoration: none;
	
  -webkit-appearance: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  background: #feaa3f repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 13px/1.3 'Terminal Dosis', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 4px 10px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
	text-transform: uppercase;

	-webkit-transition: background-color .15s linear;
	-moz-transition: background-color .15s linear;
	transition: background-color .15s linear;


}
a.reservar:hover {
	background-color: #a7e00e;
}
input,
button,
select,
textarea {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  -moz-box-shadow: #0066ff 0 0 7px 0;
  -webkit-box-shadow: #0066ff 0 0 7px 0;
  -o-box-shadow: #0066ff 0 0 7px 0;
  box-shadow: #0066ff 0 0 7px 0;
  z-index: 1;
}
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  background: #dddddd repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
}
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -ms-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -o-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}

button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

.secundario {
	font-weight: normal;
	font-style: normal;
}

form.form.buscador {
width: 270px;
margin: 10px 0;
padding: 0;
border-left: none;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
}

#footer form.form.buscador input{
	width: 240px;
}
.buscador div.right button {
margin-left: 10px;
	
}

form.buscador label{
	display: none;
}
form.buscador.pasos {
	margin: 0;
	width: 300px;
	text-align: left;
}
form.buscador.pasos input {
	margin-right: 10px;
}
/* @end */

/*table {
	width: 920px;
	border-collapse: collapse;
	margin: 0 auto;
}*/

th {
		  font: bold 13px/1 'Terminal Dosis', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	text-transform: uppercase;
}
div.disponibilidadInmediata {
/*background-color: #eff8ff;*/
background-color: #F38800;
	background-image: url(../images/destino-bg.png);
	color:#FFFFFF;

}
div.disponibilidadInmediata table {
	background-color: #FFF;
	border:#03F solid 1px;
	border-right:#03F solid 1px;
}
div.disponibilidadInmediata th {
	font-weight: bold;
	background-color: #FFEFBB;
}
div.disponibilidadInmediata h4,
div.onRequest h4 {

	  font: bold 15px/1 'Terminal Dosis', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
margin: 0;
	text-transform: uppercase;
	border-bottom: thin ridge #dfe8ef;
	padding: 10px;
}

table.programa {
	border-right: 1px solid #dfe8ef;
	border-left: 1px solid #dfe8ef;
	border-collapse: collapse;

}
table.programa td {
	border-right: 1px solid #dfe8ef;
}

table.pasos {
		  font: bold 18px/1 'Terminal Dosis', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	text-transform: uppercase;
	color: #03246c;
	border-bottom: none;
}

table.pasos strong {
	color: #ff7558;
}
table.pasos tr, table.pasos td {
	border-bottom: none;
}
